@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<RadzenLayout Class="scrollbar" Style="grid-template-areas: 'rz-sidebar' 'rz-sidebar rz-body'; background-color: transparent;">
    <RadzenHeader Style="margin-top: 10px; margin-left:15px; margin-right:15px; background: rgba(255, 255, 255, 0.19); border-radius: 13px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.42);">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="3" Style="display: flex; justify-content: space-between; align-items: center;">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" Style="top: 0px; border: 0px none #ff0000; color: #ff0000; background-color: rgba(255, 255, 255, 0);"/>
            <nav class="centered " style="background-color: transparent; display: flex; justify-content: space-between; align-items: center; width: 904px; height: 60px">
                    <a @onclick="NavigateToAllasajanlatok" class="menu-option">Állásajánlatok</a>
                    <a @onclick="NavigateToBlog" class="menu-option">Blog</a>
                    <a @onclick="NavigateToOneletrajz" class="menu-option">Önéletrajz</a>
            @if (!isLoggedIn) 
                {
                    <a href="Login" class="btn-6"  Style="margin: 5px; width: 150px; height: 48px; line-height: 50px; background-color: #831eff; float: none; text-align: center; color: #ffffff"></a>
                    <div Style="width: 40px; height: 20;"></div>
                    <a href="Registration" class="btn-7"  Style="margin: 5px; width: 150px; height: 48px; line-height: 50px; float: none; text-align: center; background-color: #7d13ff; color: #ffffff"></a>
                }
            </nav>
        </RadzenStack>
    </RadzenHeader>

    <RadzenBody class="transparent-scrollbar">
        @Body
    </RadzenBody>

<!--A navbar elemei-->
    <RadzenSidebar class="body-navbar transparent-scrollbar" Responsive="true" @bind-Expanded="@sidebarExpanded" Style="margin-top: 10px; margin-left: 15px; background: rgba(255, 255, 255, 0.19); border-radius: 13px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.42);">
<!--Ez a rész a navbar kinézetét-->

<!--Ez a rész a navbar-ban található Logót és Címet tartalmazza-->
            <RadzenStack Class="RadzenPanelMenu a; RadzenPanelMenu a:hover; rz-py-4 rz-py-lg-6" AlignItems="Radzen.AlignItems.Center" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
                <RadzenImage @onclick="NavigateToMain" Path="images/logo.ico" class="Logo" AlternateText="Application logo"></RadzenImage>
                <RadzenText Text="PalyavalasztoV4" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="rz-mb-0" style="color: #ffffff; background-color: rgba(255, 255, 255, 0); border: 0px none #ffffff" />
            </RadzenStack>
<!--Ez a rész a navbar elemeit tartalmazza-->
            <RadzenPanelMenu Class="btnAnimation" Style="background-color: #ff0000; color: #272727; font-weight: bold">
                <RadzenPanelMenuItem Path="NavigateToProfile" Class="btnAnimation" Text="Profil Oldal" Icon="account_circle" />
                <RadzenPanelMenuItem Path="Hirdetesek" Class="btnAnimation" Text="Állásajánlatok" Icon="work" />
                <RadzenPanelMenuItem Path="blog" Class="btnAnimation" Text="Blog" Icon="rss_feed" />
                <RadzenPanelMenuItem Path="kapcsolat" Class="btnAnimation" Text="Kapcsolat" Icon="mail" />
                <RadzenPanelMenuItem Path="oneletrajz" Class="btnAnimation" Text="Önéletrajz" Icon="work" />
                <RadzenPanelMenuItem Text="NewHirdetes" Path="new-hirdetes" />
            </RadzenPanelMenu>
<!--Ez a rész a navbar láblécét tartalmazza-->
            <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding);">
                <RadzenText Text="PalyavalsztoV4 v1.0.0" TextStyle="Radzen.Blazor.TextStyle.Caption" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
                <RadzenText Text="Copyright Ⓒ 2024" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
            </RadzenStack>
    </RadzenSidebar>
<!--Ez a rész a főoldal tartalma-->

</RadzenLayout>

@code {
    bool isLoggedIn = false; // Ez az állapotváltozó jelzi, hogy a felhasználó be van-e jelentkezve.

    bool sidebarExpanded = false;

    protected override void OnInitialized() {
                base.OnInitialized();
    }

    private void NavigateToProfile(int id) //Főoldalra
    {
        if (id == 1)
        {
            NavigationManager.NavigateTo("EmployerProfile");
        }
        else if (id == 2)
        {
            NavigationManager.NavigateTo("EmployeeProfile");
        }
        else
        {
            Console.WriteLine("Nem regisztráltál még, vagy nem választottad ki, hogy Munkáltató vagy Munkavállalóként regisztrálsz.");
        }
    }

    private void NavigateToMain() //Főoldalra
    {
        NavigationManager.NavigateTo(" ");
    }

    private void NavigateToAllasajanlatok() //Hirdetések
    {
        NavigationManager.NavigateTo("Hirdetesek");
    }

    private void NavigateToBlog() //Főoldalra
    {
        NavigationManager.NavigateTo("blog");
    }

    private void NavigateToKapcsolat() //Főoldalra
    {
        NavigationManager.NavigateTo("kapcsolat");
    }

    private void NavigateToOneletrajz() //Főoldalra
    {
        NavigationManager.NavigateTo("oneletrajz");
    }

    private void NavigateToRegistrationCo() //Főoldalra
    {
        NavigationManager.NavigateTo("registrationco");
    }

    private void NavigateToRegistrationUser() //Főoldalra
    {
        NavigationManager.NavigateTo("registration-user");
    }

    private void NavigateToHirdetesek() //Főoldalra
    {
        NavigationManager.NavigateTo("Hirdetesek");
    }

    private void NavigateToLogin() //Főoldalra
    {
        NavigationManager.NavigateTo("Login");
    }

    private void NavigateToRegistration() //Főoldalra
    {
        NavigationManager.NavigateTo("Registration");
    }
 
}
