@page "/employee-profile"

<PageTitle>EmployeeProfile</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12" Style="height: 350px; width: 800px" Class="MultiGlassEffect">
        <!--Cég profilképe-->
        <div Style="height: 130px; width: 130px; border-radius: 50%; margin-top: 1rem; margin-left: 1rem;">
            <img src="" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%;" />
        </div>
        <!--Cég neve-->
        <div style="position: absolute; width: fit-content; height: auto; top: 1rem; margin-left: 10rem;">
            <h1>Kunhalmi Éva</h1>
        </div>
        <!--Cég elérhetőségei-->
        <div Class="MultiGlassEffect" Style="position: absolute; width: 234px; height: 131px; float: right; margin-right: 1rem; left: 70%; top: 1rem;">
            <ul>
                <li>Telefonszám</li>
                <li>Email cím</li>
                <li>Hely</li>
                <li>Egyéb</li>
            </ul>
        </div>
        <!--Cég ismertetése-->
        <div style="position: absolute; width: fit-content; height: auto; top: 150px; margin-left: 10rem;">
            <h3 Style="font-size: 20px;" >Bemutatkozás:</h3>
            <p Style="font-size: 15px;">Több mint 5 éves tapasztalattal rendelkezem a szoftverfejlesztés területén, különös tekintettel a webfejlesztésre és a mobilalkalmazás-fejlesztésre. Szakértő vagyok többek között a Java, Python és JavaScript programozási nyelvekben, és széles körű tapasztalattal rendelkezem az adatbázis-kezelésben és a felhő alapú szolgáltatásokban.
                                        A problémamegoldás iránti szenvedélyem és a folyamatos tanulás iránti elkötelezettségem vezérel. Hiszek abban, hogy a jó szoftverek képesek megváltoztatni a világot, és szeretnék részt venni ebben a változásban. </p>
        </div>
    </RadzenColumn>
</RadzenRow>

<!--
        if (response.IsSuccessStatusCode)
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            var result = JsonSerializer.Deserialize<YourObjectType>(jsonResponse);
        }
-->
@code {
/*
    string userProfileImageUrl;
    HttpClient httpClient = new HttpClient();
    */
}