@page "/hirdetesek"

<PageTitle>Hirdetesek</PageTitle>
<RadzenRow Style="width: 100%; height: auto; display: flex; justify-content: space-between;">
<div class="container" style="display: flex; justify-content: space-between; gap: 1rem;">
            <!-- ELSŐ KÁRTYA -->
        <AddCard/> 
            <!-- MÁSODIK KÁRTYA -->
        <AddCard id="2" />
            <!-- HARMADIK KÁRTYA -->
        <AddCard id="3" />
</div>
</RadzenRow>
<div Style= "height: 20px; width: 100px; color:black"> </div>
<RadzenRow Style="width: 100%; height: auto; display: flex; justify-content: space-between;">
    <div class="container" style="display: flex; justify-content: space-between; gap: 1rem;">
            <!-- ELSŐ KÁRTYA -->
        <AddCard id="4" />
            <!-- MÁSODIK KÁRTYA -->
        <AddCard id="5" />
            <!-- HARMADIK KÁRTYA -->
        <AddCard id="6" />
    </div>
</RadzenRow>
<div Style= "height: 20px; width: 100px; color:black"> </div>
<RadzenRow Style="width: 100%; height: auto; display: flex; justify-content: space-between;">
   <div class="container" style="display: flex; justify-content: space-between; gap: 1rem;">
            <!-- ELSŐ KÁRTYA -->
        <AddCard id="7" />
            <!-- MÁSODIK KÁRTYA -->
        <AddCard id="8" />
            <!-- HARMADIK KÁRTYA -->
        <AddCard id="9" />
    </div>
</RadzenRow>
<div Style= "height: 20px; width: 100px; color:black"></div>
<RadzenRow Style="width: 100%; height: auto; display: flex; justify-content: space-between;">
    <div class="container" style="display: flex; justify-content: space-between; gap: 1rem;">
        <!-- ELSŐ KÁRTYA -->
        <AddCard id="11" />
        <!-- MÁSODIK KÁRTYA -->
        <AddCard id="12" />
        <!-- HARMADIK KÁRTYA -->
        <AddCard id="13" />
    </div>
</RadzenRow>
<div Style="height: 20px; width: 100px; color:black"></div>