@page "/registration-user"
@layout NoSidebarLayoutLayout
<PageTitle>RegistrationUser</PageTitle>
<style>
 
 .center-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex; /* Engedélyezi a flexbox modelt */
  flex-wrap: wrap; /* Engedélyezi a sorok tördelését, ha szükséges */
}

.form-group {
  display: flex;
  flex-direction: column; /* Címkék függőleges elhelyezése */
  margin-bottom: 15px;
}

.form-label {
  width: 100%;
  margin-right: 10px;
}

.form-control {
  flex: 1;
  box-sizing: border-box;
}

.btn-primary {
  margin-top: auto;
  display: block;
  width: 100%;
  text-align: center;
}

.div1, .div2, .div3, .div4 {
  flex-basis: 50%; /* Minimum méret a divekhez */
  width: 100%; /* Kezdeti szélesség */
  height: 50%; /* Kezdeti magasság */
  padding: 10px;
}

input {
  width: 100%;
}

.additional-data-label {
  margin-top: 20px;
  font-weight: bold;
  text-align: center; /* További adatok címkéjének középre igazítása */
}

</style>
<RadzenColumn Size=10>
   <label Style="position: absolute; top: 0%; left: 37%; font-size: 60px;">További adatok</label>
    <div class="MultiGlassEffect center-content centered" Style="width: 850px; height:fit-content;">

        <div class="div1">
            <div class="form-group">
            <label for="vezeteknev">First Name</label>
                <input @bind-value="EmployeeReg.First_Name" type="text" class="form-control" id="vezeteknev" name="vezeteknev" placeholder="Adja meg a vezeték nevét">
            <label for="keresztnev">Last Name</label>
                <input @bind-value="EmployeeReg.Last_Name" type="text" class="form-control" id="keresztnev" name="keresztnev" placeholder="Adja meg a kereszt nevét">
            <label for="telefonszam">Telefonszám</label>
                <input @bind-value="EmployeeReg.ContactNumber" type="tel" class="form-control" id="telefonszam" name="telefonszam" placeholder="Adja meg a telefonszámot">
            </div>
        </div>

        <div class="div2">
            <div class="form-group">
            <label for="portfolio">Portfolió</label>
                <input @bind-value="EmployeeReg.Portfolio" type="text" class="form-control" id="portfolio" name="portfolio" placeholder="Adjon meg egy hivatkozást">
            </div>
            <div class="form-group">
            <label for="profpic">Profilkép feltöltése:</label>
                <input @bind-value="EmployeeReg.Picture" type="file" class="form-control-file" id="profpic" name="profpic">
            </div>
        </div>

        <div class="div3" style="height: 174px">
            <div class="form-group">
            <label for="language">Tanult nyelvek:</label>
                <input @bind-value="EmployeeReg.Language" type="text" class="form-control-file" id="language" name="language">
            </div>
            <div class="form-group">
            <label for="vegzetseg">Legmagasabb végzettség: </label>
                <input @bind-value="EmployeeReg.HighestEducation" type="text" class="form-control" id="vegzetseg" name="vegzetseg" placeholder="Adja meg végzettségeit">
            </div>
        </div>

        <div class="div4">
            <div class="form-group">
            <label for="szektor">Előző munkahelyek és pozíciók</label>
                <input @bind-value="EmployeeReg.PreviousWork" type="text" class="form-control" id="szektor" name="szektor" placeholder="Adja meg előző munkahelyét, pozícióját">
            </div>
            <div class="form-group">
            <label for="profession">Szakmai végzettség</label>
            <input @bind-value="EmployeeReg.Profession" class="form-control" id="profession" name="profession" placeholder="Adja meg szakmai végzettségét">
            </div>
        </div>

        <button @onclick=tovabbiregdataUsrs type="submit" class="btn btn-primary">Tovább</button>
    </div>
</RadzenColumn>


