@page "/adCardComponent"
@layout NoSidebarLayoutLayout

<RadzenRow Style="width: 100%; height: auto; justify-content: center; display: flex; min-width: 100%;">
   <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
</RadzenRow>
