@page "/hirdetesek"

<PageTitle>Hirdetesek</PageTitle>
<RadzenRow Style="width: 100%; height: auto; display: flex; justify-content: space-between;">
<div class="container" style="display: flex; justify-content: space-between; gap: 1rem;">
            <!-- ELSŐ KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
            <!-- MÁSODIK KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
            <!-- HARMADIK KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    
</RadzenRow>
<div Style= "height: 20px; width: 100px; color:black"> </div>
<RadzenRow Style="width: 100%; height: auto; display: flex; justify-content: space-between;">
    <div class="container" style="display: flex; justify-content: space-between; gap: 1rem;">
            <!-- ELSŐ KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
            <!-- MÁSODIK KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
            <!-- HARMADIK KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</RadzenRow>
<div Style= "height: 20px; width: 100px; color:black"> </div>
<RadzenRow Style="width: 100%; height: auto; display: flex; justify-content: space-between;">
   <div class="container" style="display: flex; justify-content: space-between; gap: 1rem;">
            <!-- ELSŐ KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
            <!-- MÁSODIK KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
            <!-- HARMADIK KÁRTYA -->
        <div class="component MultiGlassEffect">
            <div class="image-container" style="width: 223px; height: 95px">
                <img src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 216px; height: 31px; float: none">Cím</h3>
                <p style="width: 225px; height: 80px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</RadzenRow>
<div Style= "height: 20px; width: 100px; color:black"></div>

<!--
@code {
  // Létrehozzuk a komponensek tömbjét
  string[] components = new string[] {
    "component1",
    "component2",
    "component3"
  };

  // Véletlenszerűen rendezzük a tömb elemeit
  Random random = new Random();
  random.Shuffle(components);

  // Frissítjük a DOM-ot
  foreach (string component in components) {
    <div class="@component"></div>
  }
} -->